<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my Blog</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <header class="header-content">
        <span class="logo-text">my Blogs</span>
      </header>
      <div class="button"> 
        <a href="/newblog" class="create-btn">
          Create
        </a>
      </div>
    </div>
      <main class="main-content">
          <ul>
            <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
            <li class="post-item">
              <!-- Title and Description wrapped in a container -->
              <div class="post">
                <div class="pic-container">
                  <a href="/<%= post.slug %>/blog" class="create-btn">
                    Open
                  </a>
                </div>
                <div class="post-text">
                  <a href="/<%= post.slug %>/blog" 
                    class="post-title">
                    <%= post.title %>
                    </a>
                  <p class="post-description">
                    <%= post.description %>
                  </p>
                  <span 
                  class="post-date">
                    <%= post.createdAt.toDateString() %>
                    </span>
                </div>
              </div>
            </li>
            <% }) %> <% } else { %>
            <p class="no-posts">No blog posts available.</p>
            <% } %>
          </ul>
      </main>
  </body>
</html>
